*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heroContainer{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* align-items: center; */
}

.heroContainer{
    width: 100%;
    min-height: 100vh;
}